#qna{
    display: none;
}
.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    width: 80%;
}
.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display: block; 
    /* 답변 세가지가 연이어 나와서 한줄에 하나 나오도록 block */
    width: 80%;
    border: 0px;
    font-size: 20px;
}

.answerList:hover, .answerList:focus{
    background-color: pink;
    color: whitesmoke;
}